<html>

<head <%- helmet.htmlAttributes %> lang="ru">
    <meta charset="utf-8">
    <%- helmet.title %>
    <base href="./">
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Автоматизация производства, контроль качества, беспилотники"/>
    <meta property="og:image" content="https://hgenru.github.io/robodem-portfolio/share.jpg" />
    <%- helmet.meta %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700&amp;subset=cyrillic">
    <link rel="stylesheet" href="styles.css">
    <script src="fontsLoader.bundle.js"></script>
    <%- helmet.link %>
    <%- helmet.script %>
    <%- helmet.style %>
</head>

<body>
    <div id="app"><%- app %></div>
    <script src="index.bundle.js"></script>
</body>

</html>
